APP_NAME=GrowthOrbit
DATABASE_URL=sqlite:///./growthorbit.db
FRONTEND_ORIGIN=http://localhost:5173
JWT_SECRET_KEY=b6f4ebf7ce655f3318090737dcd2c2a809aff89367277767a1d11f516c6ec520
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
GEMINI_API_KEY=AIzaSyB8hKezSzBwujoFtkwqciXRIblkKRfzgdQ
GEMINI_MODEL=gemini-2.5-flash
